.create-tree-popup-container {
  margin: 0;
  background-color: #0e0f0f;
  color: aqua;
  position: absolute; /* use absolute if it's within a relatively positioned parent */
  width: 800px;
  height: 80vh;
  align-self: center;
  z-index: 9999; /* ensure it's on top */
  display: flex;
  align-items: center;
  justify-content: center;

  animation: slideUp 0.2s ease-in forwards;
  transform: translateY(60%);
  overflow-y: auto;
  overflow-x: auto;
 

}


@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}


/* Form container */

.scroll-wrapper {
  /* background-color: burlywood; */
  height: 600px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.create-tree-form-container {
  height: auto;
  width: 600px;
  overflow: auto;

  padding: 40px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;

}


.field-title {
  font-size: 15px;
  color: darkslategray;
  margin-left: 10px;
  margin-bottom: 2px;
  user-select: none;
  -webkit-user-select: none;
}


.input-field {
  color: lightblue;
  padding: 5px;
  width: 350px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #283338;
  font-size: 20px;
  margin-bottom: 15px;

}


.input-field:focus {
  outline: none;
  box-shadow: none;
  background-color: inherit;
}
