.show-trees-popup-container {
  background-color: #141716;
  color: aqua;
  position: absolute; /* use absolute if it's within a relatively positioned parent */
  width: 800px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 9999; /* ensure it's on top */

  animation: slideUp 0.2s ease-in forwards;
  transform: translateY(60%);

}


@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
