.show-trees-popup-container {
  background-color: #141716;
  color: aqua;
  position: absolute; /* use absolute if it's within a relatively positioned parent */
  width: 800px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 20px;
  z-index: 9999; /* ensure it's on top */

  animation: slideUp 0.2s ease-in forwards;
  transform: translateY(60%);

}

.popup-area {
  height: 100%;
  width: 100%;
  margin: 20px;
  justify-content: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: green; */
  overflow: scroll;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

/* ------------------------  Display box --------------------------- */

.popup-tree-display-container {
  height: 150px;
  width: 350px;

  background-color: #1a243d;
  cursor: pointer;
  display: grid;
  grid-template-rows: 2fr 1fr;

  border: 2px solid transparent; /* invisible border to reserve space */
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  border-radius: 10px;

  overflow: hidden;
  
}
.popup-tree-display-container:hover {
  border-color: lightblue;
}

.popup-top-part {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  grid-row: 1;

  overflow: hidden;
}

.popup-bottom-part {
  display: flex;
  align-items: start;
  justify-content: left;
  width: 100%;
  height: 100%;
  grid-row: 2;
  padding-left: 40px;

  overflow: hidden;
}

.image-holder {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
  border: 2px solid lightblue; /* invisible border to reserve space */

}

.tree-description {
  max-width: 120px;
  width: 100%;
  word-wrap: break-word;
  user-select: none;
  -webkit-user-select: none;
}
