.show-trees-popup-container {
  background-color: #141716;
  color: aqua;
  position: absolute; /* use absolute if it's within a relatively positioned parent */
  width: 800px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 20px;
  z-index: 9999; /* ensure it's on top */

  animation: slideUp 0.2s ease-in forwards;
  transform: translateY(60%);

}

.popup-area {
  height: 100%;
  width: 100%;
  margin: 20px;
  justify-content: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: green; */
  overflow: scroll;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

/* ------------------------  Display box --------------------------- */

.popup-tree-display-container {
  height: 200px;
  width: calc(100% - 30px);

  background-color: transparent;
  cursor: pointer;
  display: grid;
  grid-template-rows: 2.5fr 1fr;

  border: 3px solid #182216; /* invisible border to reserve space */
  box-sizing: border-box;
  transition: all 0.5s ease;
  border-radius: 10px;

  overflow: hidden;
  
}
.popup-tree-display-container:hover {
  border-color: lightgrey;
  background-color: #222230;
}

.popup-top-part {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  grid-row: 1;

  overflow: hidden;
  /* background-color: yellow; */
}

.popup-bottom-part {
  display: flex;
  align-items: start;
  justify-content: left;
  width: 100%;
  height: 100%;
  grid-row: 2;
  padding-left: 40px;

  overflow: hidden;
}

.image-holder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  border: 2px solid lightgrey; /* invisible border to reserve space */

}

.tree-description {
  max-width: 120px;
  width: 100%;
  word-wrap: break-word;
  user-select: none;
  -webkit-user-select: none;
}


/* No trees message */

.no-trees-message {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  color: #34344a;

  justify-self: center;
  user-select: none;
  -webkit-user-select: none;

  text-align: center;

}

