body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #202422;
}

/* The main background of the SPA */
.spa-layout-container {
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);  /* Subtract margins */
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  background-color: #202422;
  overflow: hidden;
}


.main-page-grid {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns:0 1fr;
}




.main-left-grid-block {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  grid-column: 1;
}

.main-middle-grid-block {
  position: relative;
  /*background-color: yellow;*/
  grid-column: 2;
}

