body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #202422;
}

/* The main background of the SPA */
.spa-layout-container {
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);  /* Subtract margins */
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  /* background-color: #202422; */
  overflow: hidden;
}


.main-page-grid {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
}



.main-middle-grid-block {
  grid-column: 2;
  overflow: hidden;
}


.layered-waves-background{
  position: absolute;
  width: 100%;
  
  bottom: 0px;
  opacity: 0.2;
}
